[Unit]
Description=vmbackupd restricted receiver storage catalog request
Requires=vmbackupd.service
After=vmbackupd.service

[Service]
Type=oneshot
User=vmbackupd
Group=vmbackupd
SupplementaryGroups=qemu

ExecStart=/usr/libexec/vmbackupd-receiver-catalog

StandardInput=socket
StandardOutput=socket
StandardError=journal

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictSUIDSGID=yes
LockPersonality=yes
CapabilityBoundingSet=
