[Unit]
Description=vmbackupd restricted receiver storage resolver socket

[Socket]
ListenStream=/run/vmbackupd-receiver-resolver.sock
Accept=yes
SocketUser=vmbackupd-transfer
SocketGroup=vmbackupd
SocketMode=0660
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
